body{
    width: 1600px;
    /* height: 853px; */
    /* overflow-x: hidden; */
    margin: 0;
    /* padding: 0;  */
}

#navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 275px;
}
#options a{
    margin-left: 15px;
    text-decoration: none;
    color: rgb(202, 202, 202);
    font-family: sans-serif;
    font-size: 13px;
}
#options a:hover{
    color: black;
    font-size: 13px;
    font-family: sans-serif;

}
#menu{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
#lawyerContainer{
    width: 1600px;
    height: 700px;
    overflow: hidden;
    position: relative;
    display: flex;


}
#lawyerImg{
    width: 1600px;
    height: 118.5%;
    position: absolute;
    filter: brightness(77%);

}
#loginBox{
    background-color: rgb(28, 56, 91);
    top: 115px;
    left: 268px;
    position: absolute;
    height:444px;
    width: 361px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#loginBoxText{
    align-items: center;
    text-align: left;
    color: white;
    /* position: relative; */
    margin-top: 32px;
    /*margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 40px; */
    
}
#lineOne{
    font-size: 13px;
    margin-bottom: 4px;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    margin-left: 5%;
    margin-top: 0;
    
}
#lineTwo{
    margin-top: 3px;
    font-size: 36px;
    margin-bottom: 15px;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    margin-left: 5%;

}
#tagLine{
    color: rgb(245,222, 78);
    font-size: 14px;
    margin-top: 10px;
    line-height: 10px;
    margin-bottom: 25px;
    margin-left: 5%;
    font-family: Arial, sans-serif;
}
#textBox{
    padding: 15px;
    size: 250px;
    margin-bottom: 25px;
    width: 76%;
    margin-left: 5%;
    height: 20px;
    margin-top: -1px;
    

}
#signUpButton{
    background-color: rgb(255,228, 55);
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    width: 164px;
    height: 40px;
    margin-left: 5%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10%;

    
}
#featureContainer{
    margin-left: 267px;
    margin-right: 14%;
    margin-top: 93px;
    /* display: flex; */
    justify-content: space-between;
    margin-bottom: 35px;
    height: 260px;
    width: 1103px;
}
#columns{
    display: flex;
    flex-direction:row;
    /* align-items: center; */
    justify-content: space-between;
    gap: 90px;

}

.featureHeading{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.infoParagraph {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: grey;
    line-height: 1.5;
    text-align: justify;
    /* margin: 0; 
    padding: 0;  */
    letter-spacing: -0.25;
    word-spacing: 1.5px;
    
}
/* .column {
    flex: 1;
    padding: 0 2.3vw;
} */



.aboutContainer{
    background-color: rgb(244, 244, 244);
    height: 250px;
    align-items: center;
    padding: 65px;

}
.aboutContainerText{
    /* align-items: center; */
    text-align: center;
    margin: 135px 0;
    /* padding-bottom: 50px; */
    width: 1600px;
    margin-top: 100px;

}

#quote{
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    margin-bottom: 5px;
}
#founderName{
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: grey;
}

.prices {
    position: relative;
    /* background-size: 100% 100%; */
    margin-bottom: 101px;
    height: 657px;
    width: 1600px;
}

.prices::before{
    content: '';
    background-image: url("images/glasses.png");
    width: 1600px;
    height: 803px;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 1600px 1100px;
    background-attachment: fixed;
    filter: grayscale(100%) opacity(50%);
    position: absolute;
    /* object-fit: cover; */
    /* background-position: center -98px; */
    margin-top: -44px;
    /* background-clip: border-box; */
    background-position-y: -100px;
}

.pricesHeading{
    font-size: 20px;
    /* padding-top: 150px; */
    /* padding-left: 200px; */
    margin-top: 45px;
 
}
.pricePlanContainer{

    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 66px;

}
.pricePlanBox{
    background-color: white;
    width: 289px;
    height: 503px;
    /* display: inline-block; */
    text-align: center;
    padding: 20px;
    background-size: cover;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    z-index: 2;
    position: relative;
    margin-top: 35px;
    /* left: 75px; */
    /* background-image: repeating-linear-gradient(
            45deg,
            #cfcfcf,
            #cfcfcf 0.1px,
            transparent 1px,
            transparent 27px
        ),
        repeating-linear-gradient(
            135deg,
            #cfcfcf,
            #cfcfcf 0.1px,
            transparent 1px,
            transparent 29px
        ),
        repeating-linear-gradient(
            90deg,
            #cfcfcf,
            #cfcfcf 0.1px,
            transparent 1px,
            transparent 20px
        ),
        repeating-linear-gradient(
            180deg,
            #cfcfcf,
            #cfcfcf 0.1px,
            transparent 1px,
            transparent 20px
        );
    background-size: 40px 40px; */

        /* background-color: #ffffff;
        background-image: linear-gradient(60deg, rgba(223, 223, 223, 0.6) 12%, transparent 12.5%, transparent 87%, rgba(223, 223, 223, 0.6) 87.5%, rgba(223, 223, 223, 0.6)),
                          linear-gradient(120deg, rgba(223, 223, 223, 0.6) 12%, transparent 12.5%, transparent 87%, rgba(223, 223, 223, 0.6) 87.5%, rgba(223, 223, 223, 0.6)),
                          linear-gradient(60deg, rgba(223, 223, 223, 0.6) 25%, transparent 25.5%, transparent 75%, rgba(223, 223, 223, 0.6) 75%, rgba(223, 223, 223, 0.6)),
                          linear-gradient(120deg, rgba(223, 223, 223, 0.6) 25%, transparent 25.5%, transparent 75%, rgba(223, 223, 223, 0.6) 75%, rgba(223, 223, 223, 0.6));
        background-size: 80px 140px;
        background-position: 0 0, 0 0, 40px 70px, 40px 70px; */

    
}

#pricesP {
    font-size: 20px;
    color: black;
    /* margin-top: 120px; */
    font-family: "Montserrat", sans-serif;
    text-align: center;
    /* padding-left: 10px; */
    /* padding-top: 11px; */
    
}

#prices_afford {
    text-align: center;
    font-size: 11px;
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    /* padding-left: 200px; */
}
.dollar{
    margin-top: 47px;
    margin-bottom: 30px;
    font-family: "Arimo", sans-serif;
    font-size: 30px;
}
#buyNowButton{
    background-color: rgb(26,58,91);
    padding: 19px;
    color: white;
    font-size: 15px;
    width: 147px;
}
.pricePlanList{
    font-size: 13px;
    text-align: center;
    line-height: 1.5;
}
#pricePlanHeading{
    font-size: 18px;
    margin-top: 40px;
}
.marketingContainer{
    /* background-image: url(images/notebook.jpg); */
    height: 325px;
    /* width: 100%; */
    padding: 80px;
    /* opacity: 0.5; */
    /* background-position: right 35% bottom 48%;  */
    background-position: center;
    background-repeat: no-repeat;
    /* filter: opacity(30%) hue-rotate(180deg) saturate(500%); */
    /* background-color: rgb(40, 67, 93); */
    /* margin-top: 20px; */
    padding-top: 60px;
    /* z-index: 3; */
    background-image: linear-gradient(rgb(13, 68, 101, 0.86), rgb(13, 68, 101, 0.86)),
    url("images/notebook.jpg");
    background-size: cover;
}
.marketingContainerText{
    text-align: center;
    margin-top: 99px;
    width: 100%;
}
#marketingLine1{
    font-size: 25px;
    color: white;
    font-family: "Montserrat", sans-serif;
    background-color: rgb;
    margin-bottom: 13px;
    margin-left: 31px;
    /* padding-left: 50px; */
    
}
#marketingLine2{
    font-size: 13.5px;
    color: white;
    font-family: Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 27px;
    /* padding-left: 50px; */
}

#signUpButton2{
    background-color: rgb(255,228, 55);
    padding: 13px;
    font-family: "Montserrat", sans-serif;
    width: 200px;
    margin-top: 10px;
    align-items: center;
    font-size: 14px;
    text-align: center;
    margin-left: 41px;
}

.footer{
    background-color: rgb(29, 35, 47);
    height: 120px;
    padding: 85px;
    margin-top: 0%;
    border: none;
    display: flex;
}
.footerTextContainer{
    text-align: center;
    margin-top: 0px;
    width: 1600px;
}
#companyName{
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 7px;

}
#address{
    color: #B1B1B1;
    align-items: center;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 30px;

}
.socials{
    height: 35px;
    margin-right: 52px;
    margin-top: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.socialsImage{
    height: 30px;
    margin: 7px 21px;

}
