*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(140deg, #F1D805,#AF0808);
    padding: 10px;
}

.ToDo-App{
    width: 100%;
    max-width: 550px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.ToDo-App h2{
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 35%;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 15px 15px;
    background: red;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 30px;

}
ul li{
    list-style: none;
    font-size: 18px;
    padding: 20px 20px 20px 50px;
    user-select: none;
    cursor: pointer;
}
ul li.checked{
    color: red;
    text-decoration: line-through;

}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: red;
    line-height: 40px;
    text-align: center;
}